.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.bottomcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
  /* background-color: blue; */
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
  /* background-color: red; */
}
.bottomcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  /* background-color: green; */
  height: 100%;
}
.embeddedcontainer {
  display: flex;
  flex-direction: column;
  /* background-color: orange; */
  width: 30vw;
  height: 20vh;
  padding-bottom: 20px;
}
.bottomimages {
  width: 100px;
  /* min-width: 14vw; */
}
.propertydescription {
  font-family: "Prompt", sans-serif;
  font-size: 56px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.firstpara {
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  color: #323232;
  max-width: 40vw;
  min-width: 300px;
}
.bottomcaptions {
  font-family: "Prompt", sans-serif;
  max-width: 17vw;
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px;
  flex-shrink: 1;
}
.getstarted {
  font-family: "Prompt", sans-serif;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
}
.signup {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
.signupinput {
  display: flex;
  vertical-align: top;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  /* background-color: pink; */
  /* align-items: center; */
}
.lastcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.messageinput {
  height: 10vw;
}
.buttons {
  align-self: center;
  /* vertical-align: top; */
  background-color: #fb8500;
  border: none;
  width: 20vw;
  height: 4.5vh;
  border-radius: 5px;

  /* border: 5px black;
  max-width: 40vw;
  margin-top: 5px;
  padding: 3px;
  padding-left: 60px;
  padding-right: 60px;
  border-color: black; */
}
.buttons:hover {
  background-color: gray;
}
.inputval {
  border-color: red;
  width: 50vw;
}
.buttondescription {
  font-size: 15px;
  color: white;
}
