nav {
  color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  /* padding: 1rem; */
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav ul {
  list-style: none;
  margin-left: -2rem;
  /* margin: 1rem; */
}
nav ul li {
  padding: 7px;
  padding-left: 1rem;
}
.headertype {
  /* padding-right: 1rem; */
  padding-top: 10rem;
}
.circle {
  border: black solid 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 1rem;
}
.header-name {
  margin: 1.5rem 0rem 1rem 0rem;
}
.top-bar {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  position: fixed;
  top: 0;
  width: 100%;
  grid-area: header;
}
