
.headerNav {
    position: absolute;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background: #229ebc;
    position: sticky;  
    z-index: 500;
    width: 100%;
}

.navButtons{
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Avenir-Light;
    cursor: pointer;
    
}
.nav-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.nav-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
.navButtons:active {
    padding: 15px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Avenir-Light;
    cursor: pointer;
}
 .navButtons:hover {
     padding: 15px;
     color: #000000;
     text-decoration: none;
     text-transform: uppercase;
     font-family: Avenir-Light;
     cursor: pointer;
 }
 .baseNav{
    display: flex;
    flex-direction: row;
 }
.buttonNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .buttonNavButtoms {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

@media  screen and (max-width: 900px) {
    .baseNav {
        display: flex;
        flex-direction: column;
    }
    .buttonNav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .buttonNavButtoms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headerNav {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;    
    }
    .navButtons {
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Avenir-Light;
        cursor: pointer;
    }
    .navButtons:hover {
        padding: 10px;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Avenir-Light;
        cursor: pointer;
    }
    .navButtons:active {
        padding: 10px;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Avenir-Light;
        cursor: pointer;
    }
   
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 3vh;
        left: -150%;
        transition: 0.2s all;
    }

    .nav-links.active {
        background: #229ebc;
        left: 0%;
        z-index: 1000;
    }
    .nav-icon {
        display: flex;
    } 
}
/* @media screen and (min-width: 200px) and (max-width: 700px) {
    .headerNav {
        position: sticky;
        top: 6rem;
        left: 0;
        display: flex;
        justify-content: space-between;
 
    }

    .navButtons {
        border-bottom: 1px solid #d3a625;
        margin-left: -10%;
        height: 40px;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Avenir-Light;
        cursor: pointer;
    }

    .navButtons:hover {
        padding: 10px;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Avenir-Light;
        cursor: pointer;
    }

    .navButtons:active {
        padding: 10px;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Avenir-Light;
        cursor: pointer;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 13vh;
        left: -150%;
        transition: 0.2s all;
    }

    .nav-links.active {
        background: #229ebc;
        left: 0%;
        z-index: 1000;
    }

    .nav-icon {
        display: flex;
    }} */
      

