.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.bottomcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: blue;
}
.bottomcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* row-gap: 2rem; */
}
.firstpara {
  font-size: 18px;
  color: #323232;
  max-width: 45vw;
}
.bottomcaptions {
  max-width: 10vw;
  font-size: 16px;
  text-align: center;
}
