*{
    --background:   rgb(250,250,250);
    --buttonColor1: #628191;
    --buttonColor2: #FB8500;
    --bg3: rgb(255,183,3);
    
}
.main-renter-page{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--background);
}
.main-img{
    width: 50%;
    height: auto;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.o{
    padding: 3vw;
    font-size: 2vw;
    background-color: var(--buttonColor1);
    margin: 5px;
}
.search{
   
    background-color: var(--buttonColor2);
}
.p-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.prop-card{
    /* background-color: var(--buttonColor1); */
    color: var(--background);
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
.left-side{
    padding-left: 1rem;
    width: 45%;
}
.right-side{
    width: 55%;
    margin: 0;
    padding: 0;
}
.card-img{
    min-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.p1{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.p2{
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.p3{
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
.p4{
    font-size: 1.5rem;
    font-weight: 100;
}
.read-more{
    /* visibility: hidden; */
    opacity: 0;
    padding: 10px;
    border: white solid;
}
.prop-card:hover .p2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.prop-card:hover .read-more{
    
    opacity: 1;
    /* transition- 2s; */

    transition-duration: 1s;
    transition-timing-function: ease;
    margin-top: 1rem;
}