
*{
    --background: white;
    --greenColor: #8dca8d;
    --blueColor: #5252e7;
    --yellowColor: #fff34b94;
    --yellowBorder: #fff34b65;

    font-size: 16px;
    font-weight: 400;

    
}
.header-name{
    margin: 20px 0rem 15px 0rem;
    

}
.text-size{

}

/* .top-bar{
    display: flex;
    flex-direction: row;
    background: red;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;

    
    text-overflow: none;
    
} */
.topBar{
    display: flex;
    flex-direction: row;
    background: red;
    position: sticky;
    top: 0;
    width: 100%;
    height: 20%;
    text-overflow: none;
}

.circle{
    border: black solid 1px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1rem;
}

.sidenav-elements{
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    text-decoration: none;
    color: black;
}

.tenantCard{
    
    border: black solid;

    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: auto;
    
}
#lease-ends{
    color: var(--greenColor);
    font-size: 1.1rem;
    text-align: left;
    margin-left: 1rem;
}
.tenantImg{
    width: 100%;
    height: auto;
}
.add1{
    font-size: 1rem;
    text-align: left;
    margin: 0;
    margin-left: 1rem;
    
}
.cost-text{
    text-align: left;

    margin: 1rem 0rem 3rem 1rem;
}
.blue-text{
    color: var(--blueColor);
}
.green-text{
    color: var(--greenColor);
}

.ann{
    border: solid black;
    min-width: 55vw;
    width: 100%;
    margin: 0;
    height: 25vh;

}
.announcements{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.card-table{
    
    border: black solid 1px;
    /* padding: 0; */

    margin-bottom: 10px;
}
.table-row{
    border: black solid 1px;
    padding: 5px;
    
}
.table-col{
    border: black solid 1px;
    padding: 5px;
    
}

.maintenence{
    width: 100%;
} 
/*.appliances{
    margin-top: 2rem;

    margin-left: 15rem;
    margin-right: 5rem;
} */

.flex-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.b{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border: none;
    padding: 1rem 1.5rem;
    
    text-decoration: none;
    background: var(--greenColor);
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 1rem;
     
}

.b:hover {
    background: #8ebdf7;
}

.b:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
.yellow{
    background: var(--yellowColor);
    border: var(--yellowBorder) solid ;
    border-radius: 1rem;
}
.b:active {
    transform: scale(0.99);
}
.no-data{
    text-align: center;
}
.payB{
    border-radius: 0.5rem;
}
.profile{
    margin-left: 15rem;
}
.table-upcoming-payments{
    min-width: 55vw;
    width: 100%;
    margin: 0;
}
.amount{
    float: right;
}
/*new file*/
.flex-1{
    display: flex;
    flex-direction: row;
    /* margin-top: 20vh; */
}
.main-content{
    
    display: flex;
    flex-direction: row;
    width: 100%;

    
}
.sidebar{
    height: 100%;
    width: 10vw;
    display: flex; 
    flex-direction: column; 
}
.box1{
    width: 30%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2{
    width: 70%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 800px) {
    .sidenav-elements{
        padding: 0.5rem 0rem 0.5rem 0.5rem;
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    #lease-ends{
        color: var(--greenColor);
        font-size: 0.8rem;
        text-align: left;
        margin: 0;
    }
    .add1{
        font-size: 0.8rem;
        text-align: left;
        margin: 0;

    }
    .b{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline-block;
        border: none;
        
        
        text-decoration: none;
        background: var(--greenColor);
        color: black;
        font-family: sans-serif;
        font-size: 0.8rem;
        cursor: pointer;
        text-align: center;
        width: 15vw;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 1rem;
        padding: 5px;
    }
    
    .b:hover {
        background: #8ebdf7;
    }
    
    .b:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    .yellow{
        background: var(--yellowColor);
        border: var(--yellowBorder) solid ;
        border-radius: 1rem;
        padding: 0;
        font-size: 0.7rem;
    }
    .box1{
        width: 30%;
        height: 100%;
        text-align: center;
        vertical-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        margin-left: 1rem;
    
    }
    .appliances-table{
        /* margin-left: 13rem; */
    }
    .tenantCard{
    
        border: black solid;
    
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow-x: auto;
        margin-top: 0;
    }
    .appliances{
        padding-left: 40rem;
        padding-right: 20rem;
    }
    .card-table{
    
        border: black solid 1px;
        /* padding: 0; */
    
        margin-bottom: 10px;
        padding-left: 15rem;

    }
    .small{
        padding: 0;
    }
}
@media (max-width: 650px) {
    .tenantCard{
        border: black solid;
    
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow-x: auto;
        margin-top: 0;
        margin-right: 0;
    }
}
.check{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;  
    border: black solid;

}
.check:checked{
    background-color: #FB8500;
}
.amount-pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pay-button2{
    text-align: center;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border: none;

    
    text-decoration: none;
    background: var(--blueColor);
    color: black;
    font-family: sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 1rem;
    padding: 10px;
}
.pay-button2:hover{
    background: #8ebdf7;
}
.pay-button2:focus{
    outline: 1px solid #fff;
    outline-offset: -4px;
}
.table-img{
    width: 100%;
    height: auto;
    align-items: center;
    animation-name: fade;
    animation-duration: 0.6s;
}
.img-orientation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.right-arrow:hover{
    background-color: lightgray;
    transition-duration: 0.3s;
    transition-property: all;
}
.left-arrow:hover{
    background-color: lightgray;
    transition-duration: 0.3s;
    transition-property: all;
}
.img-cell{
    width: 20vw;

}
.multi-img-cell{
    width: 20vw;
}
.rel{
    position: relative;
}
.right-arrow{
    background-color: grey;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    position: absolute;
    right: 140px;
    
}
.left-arrow{
    background-color: grey;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    position: absolute;
    left: 875px;
    z-index: 3;
}
.right-arrow:hover{
    background-color: lightgray;
    transition-duration: 0.3s;
    transition-property: all;
}
.left-arrow:hover{
    background-color: lightgray;
    transition-duration: 0.3s;
    transition-property: all;
}
.loading-img{
    justify-content: center;
}
.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}