
*{
    --background: white;
    --greenColor: #8dca8d;
    --blueColor: #0000FF;
    --yellowColor: #fff34b94;
    --yellowBorder: #fff34b65;

    font-size: 1rem;
    font-weight: 400;
}
.header-name{
    margin: 1.5rem 0rem 1rem 0rem;

}
.grid-layout{
    /* grid-template-areas: 
        "header header header header"
        "side card ann ann"
        "side card upcoming upcoming"
        "side card history history"
        "side main main main"
        "side app app app"; */
}
.top-bar{
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    position: fixed;
    top: 0;
    width: 100%;
}

.circle{
    border: black solid 1px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1rem;
}
.sidenav{
    height: 100%;
    width: 15%;
    position: fixed; 
    z-index: 3; 
    top: 0; 
    left: 0; 
    background-color:var(--background); 
    transition: .5s ease; 
    overflow-x: hidden; 
    margin-top: 7rem; 
    display: flex; 
    flex-direction: column; 
}
.sidenav-elements{
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    text-decoration: none;
    color: black;
}

.tenantCard{
    
    border: black solid;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--greenColor)
    
}
#lease-ends{
    color: var(--greenColor);
    font-size: 1.3rem;
    text-align: left;
    margin-left: 1rem;
}
.tenantImg{
    width: 100%;
    height: auto;
}
.add1{
    font-size: 1rem;
    text-align: left;
    margin: 0;
    margin-left: 1rem;
    
}
.cost-text{
    text-align: left;

    margin: 1rem 0rem 3rem 1rem;
}
.blue-text{
    color: var(--blueColor);
}
.green-text{
    color: var(--greenColor);
}

.ann{
    border: solid black;
    height: 20vh;
    width: 55vw;
    background: var(--yellowColor)
}
.card-table{
    
    border: black solid 1px;
    padding: 0;
    margin-bottom: 10px;
}
.table-row{
    border: black solid 1px;
    padding: 5px;
}
.table-col{
    border: black solid 1px;
    padding: 5px;
}
.upcoming-payments{
    background-color: var(--greenColor);
}
.payment-history{
    background-color: var(--yellowBorder);
}
.maintenence{
    margin-left: 15rem;
    margin-top: 2rem;
}
.appliances{
    margin-top: 2rem;

    margin-left: 15rem;
    margin-right: 5rem;
}
.mid-right{
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
    margin-left: 0;
    align-items: flex-start;
    /* justify-content: flex-end; */

    background-color: var(--blueColor);
    margin-right: 2rem;
}
/* move card */
.flex-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 1vw; 
    /* margin right is the space between card and annoucemnt table */
    margin-left: 7vw;
    background-color: red;
}
.flex-right{
    background: purple;
}

.b{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border: none;
    padding: 1rem 1.5rem;
    
    text-decoration: none;
    background: var(--greenColor);
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 1rem;
     
}

.b:hover {
    background: #0053ba;
}

.b:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
.yellow{
    background: var(--yellowColor);
    border: var(--yellowBorder) solid ;
    border-radius: 1rem;
}
.b:active {
    transform: scale(0.99);
}
.no-data{
    text-align: center;
}
.payB{
    border-radius: 0.5rem;
}
.profile{
    margin-left: 15rem;
}
.table-upcoming-payments{
    min-width: 55vw;
}