
*{
    --background: #b2967d;
    --greenColor: #00A300;
    --blueColor: #0000FF;
}
.header-name{
    margin: 1.5rem 0rem 1rem 0rem;

}
.grid-layout{
    grid-template-areas: 
        "header header header header"
        "side card ann ann"
        "side card upcoming upcoming"
        "side card history history"
        "side main main main"
        "side app app app";
}
.top-bar{
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    position: fixed;
    top: 0;
    width: 100%;
    grid-area: header;
}

.circle{
    border: black solid 1px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1rem;
}
.sidenav{
    height: 100%;
    width: 20%;
    position: fixed; 
    z-index: 3; 
    top: 0; 
    left: 0; 
    background-color:var(--background); 
    transition: .5s ease; 
    overflow-x: hidden; 
    margin-top: 7rem; 
    display: flex; 
    flex-direction: column; 
    border-top: black solid;
    grid-area: side;
}
.sidenav-elements{
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    text-decoration: none;
    color: black;
}

.tenantCard{
    
    border: black solid;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: card;
    
}
#lease-ends{
    color: var(--greenColor);
    font-size: 1.3rem;
}
.tenantImg{
    width: 100%;
    height: auto;
}
.add1{
    font-size: 1.3rem;
}
.blue-text{
    color: var(--blueColor);
}

.ann{
    border: solid black;
    height: 20vh;
    width: 40vw;
}
.card-table{
    
    border: black solid 1px;
    padding: 5px;
    margin-bottom: 10px;
}
.table-row{
    border: black solid 1px;
    padding: 5px;
}
.table-col{
    border: black solid 1px;
    padding: 5px;
}
.upcoming-payments{
    grid-area: upcoming;
}
.payment-history{
    grid-area: history;

}
.maintenence{
    margin-left: 18rem;
    grid-area: main;
    margin-top: 2rem;
}
.appliances{
    margin-top: 2rem;

    margin-left: 18rem;
    grid-area: app;
}
.mid-right{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-left: 18rem;
    /* overflow-x: hidden;
    flex-wrap: wrap; */
    gap: 3rem;
}
