@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url(./fonts/SFProDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SFProDisplay-Bold";
  src: local("SFProDisplay-Bold"),
    url(./fonts/SFProDisplay-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
    url(./fonts/SFProDisplay-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText-SemiBold";
  src: local("SFProText-SemiBold"),
    url(./fonts/SFProText-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Bahnschrift-Bold";
  src: local("Bahnschrift-Bold"),
    url(./fonts/Bahnschrift-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Bahnschrift-Regular";
  src: local("Bahnschrift-Regular"),
    url(./fonts/Bahnschrift-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url(./fonts/Helvetica.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: local("Helvetica-Bold"),
    url(./fonts/Helvetica-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir-Light";
  src: local("Avenir-Light"),
    url(./fonts/Avenir-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Arial";
  src: local("Arial"),
    url(./fonts/Arial.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: local("Quicksand-Regular"),
    url(./fonts/Quicksand-Regular.otf) format("opentype");
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(100%);
}

.carousel-indicators{
  filter: invert(100%);
}
.carousel-control-prev{ 
  opacity:1 !important;
}

.carousel-control-next{ 
  opacity:1 !important;
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}                   */