.sidebar{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  position: fixed;
  width:10rem;
  background-color: #229ebc;
}
.sidebarButtons {
  padding: 15px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Avenir-Light;
  cursor: pointer;
  width: 10rem;
  background-color: #229ebc;
  height:100vh;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  text-align: left;
  background-color: #ffffff;  
  width: 10rem;  
  height:60vh;
  background-color: #229ebc;
}

.sidebarButtonsActive {
  padding: 15px;
  color: #c93667;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Avenir-Light;
  cursor: pointer;
  font-weight: 700;
  width: 10rem;
  background-color: #229ebc;
  
}

.sidebarButtons:hover {
  padding: 15px;
  color: #c93667;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Avenir-Light;
  cursor: pointer;
  font-weight: 700;
  width: 10rem;
  background-color: #229ebc;
}


